header{
    margin-top: 40px;
}

.toolbar{
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: cyan;
    height: 30px;
    width: 100%;
}

.QE-sec{
    display: block;
}